<div class="container">
    <h1>Login Page</h1>
 <div class="pos">   
 <form >
    <label for="user" class="name">User name:</label>
    <input type="username" class="form-control " placeholder="Enter user name" id="email">
    <label for="pwd" class="pass" >Password:</label>
    <input type="password" class="form-control " placeholder="Enter password" id="pwd">
    <!-- <div class="form-check mb-2 mr-sm-2">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Remember me
      </label>
    </div> -->
    <button type="submit" class="btn btn-primary " style="margin-left: 200px;margin-top: 10px;" (click)="login()">Submit</button>
  </form>
</div>
</div>